.login {
    width: 100vw;
    height: 100vh;
    color: white;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/955f5ef5-77ac-43f3-a2fc-3722a89a7121/BY-ru-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    position: relative;

    .toast-message {
        background-color: #000000;
        color: #FFFFFF;
        font-size: 20px;
        padding: 1rem 0.5rem;
    }

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 40px;
            }
        }
    }
    
    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        .form {
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: rgb(28, 28, 28);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            input {
                height: 40px;
                border-radius: 5px;
                background-color: gray;
                color: white;
                padding-left: 10px;

                &::placeholder{
                    color: lightgray;
                }
            }

            button {
                height: 40px;
                border-radius: 5px;
                background-color: red;
                color: white;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }

            span{
                color: lightgray;
                
                b{
                    color: white;
                }
            }
        }
    }
}
